input{text-transform:inherit}
select{font-family:HelveticaNeueLT-LightCond, pragmatica-web-condensed, arial, sans-serif;border:solid 1px #323236}
#checkoutHolder .standard-font{font-size:14px;letter-spacing:1px;font-weight:400}
#checkoutHolder *{box-sizing:border-box;-moz-box-sizing:border-box}
a:not(.button),#cv2_help{font-size:14px;text-decoration:underline}
#checkoutHolder input,#checkoutHolder a.button,#checkoutHolder a.button,#checkoutHolder select{margin-top:10px;height:auto;color:#000;display:inline-block;text-align:center;min-width:0;letter-spacing:1px;padding:10px 5px}
#checkoutHolder input[type=radio],#checkoutHolder input[type=checkbox]{min-width:0;vertical-align:middle;margin:-2px 10px 0 0}
input[type=button],input[type=submit],#checkoutHolder a.button{background-color:#e9e9e9;border:0;text-transform:uppercase}
#checkoutHolder label{display:inline-block;width:100%;margin-top:5px}
input[type=button].button-white,#checkoutHolder input[type=submit].button-white{border:solid 1px #000;background-color:#FFF}
.toast-logo{width:130px;display:block;padding-right:0;margin:20px auto 0}
#progress{margin-top:40px;margin-bottom:40px}
#progressLine{height:0;border-top:solid 1px #323236;margin-bottom:-20px}
#progressNumbers li{display:inline-block;text-align:center;width:25%;vertical-align:top}
#progressNumbers li span{width:40px;height:40px;line-height:40px;border-radius:20px;border:solid 1px #bbb;background-color:#fff;margin-bottom:5px;display:inline-block}
#progressNumbers li span.current{border:solid 3px #323236;line-height:34px}
#progressNumbers li span.visited{background-color:#e9e9e9}
#checkoutMain{text-align:center}
#checkoutMain h2{text-transform:uppercase;font-weight:300;font-family:HelveticaNeueLT-MediumCond, pragmatica-web-condensed, arial, sans-serif;letter-spacing:2px;font-size:28px}
#checkoutHolder h3{text-transform:uppercase;font-weight:300;font-family:HelveticaNeueLT-MediumCond, pragmatica-web-condensed, arial, sans-serif;letter-spacing:2px;font-size:18px;text-align:left;margin-top:20px}
#checkoutMain form p{margin:10px 0 0;padding:0}
#checkoutFooter{border-top:solid 2px #323236;margin-top:60px;padding-top:20px;padding-bottom:20px}
.left-link{margin-top:5px;text-align:left;display:inline-block}
#existing_customer{margin-bottom:15px}
#guest_checkout label{margin-top:15px;text-align:left}
.address_holder,.shipping_holder{text-align:left;border-bottom:solid 1px #e9e9e9;margin-top:5px;margin-bottom:10px;padding-bottom:15px}
#billing_column .address_holder{border-bottom:0}
.address_holder span,.shipping_holder span{display:inline-block}
#delivery_column,#payment_options,#create_account{border-left:solid 2px #e9e9e9}
#delivery_column .address_holder,#payment_options .address_holder,#create_account .address_holder{border-bottom:0;padding-left:20px}
#payment_options h2:after{height:28px;width:80px;content:"";display:block;background:url(https://d1kh76s6bjh8ww.cloudfront.net/img/comodo_secure_icon.gif) no-repeat;margin-bottom:12px;margin-top:5px}
#order_summary{border-bottom:solid 2px #e9e9e9;padding-bottom:15px;margin-bottom:15px}
.international-restriction{border:solid 1px red;padding:5px}
.international-restriction p{font-size:12px;margin-bottom:0;text-align:center}
.international-restriction .product-sub-total{text-decoration:line-through}
#ctl00_globalmaincontent_giftOptions_ctl02_giftQuantity{margin-left:10px;padding:5px!important}
.unavailableWarning{color:red}
#manual_address_trigger{cursor:pointer}
#countryWarning h3{color:red;text-transform:none;font-size:14px;font-family:HelveticaNeueLT-LightCond, pragmatica-web-condensed, arial, sans-serif;letter-spacing:1px}
#countryWarning a{margin-top:10px;height:auto;color:#000;text-align:center;min-width:0;letter-spacing:1px;display:block;background-color:#e9e9e9;border:0;text-transform:uppercase;padding:10px 5px}
.error_message_container{padding:10px}
.error_message_inner{max-width:500px;margin:auto}
#errMsg{color:red;font-size:15px;text-align:center;letter-spacing:1px}
#errMsg a{color:red;text-decoration:underline}
#checkoutHolder input[type="text"].error,#checkoutHolder input[type="email"].error,#checkoutHolder input[type="url"].error,#checkoutHolder input[type="password"].error,#checkoutHolder select.error{border:1px solid red}
.postcode_lookup_container{font-size:14px;height:100px;display:none;border-left:solid 1px #333;border-right:solid 1px #333;border-bottom:solid 1px #333;padding:3px 0}
.postcode_lookup_item{cursor:pointer;padding:2px 10px}
.postcode_lookup_item:hover{color:#fff;background:#333}
#cv2_help{float:right;line-height:1.8em;text-align:center;cursor:pointer;padding:3px 0}
#cv2_help_info{display:none;font-size:14px;border:1px solid #CCC;margin:0 0 20px;padding:10px}
#cv2_help_info .cv2_help_info_title{font-family:HelveticaNeueLT-MediumCond, pragmatica-web-condensed, arial, sans-serif}
#cv2_help_info.cv2_help_info_open{display:block}
#checkoutHolder .delivery_address_remove{top:0;right:5px;font-size:2em;text-transform:uppercase;color:#999;cursor:pointer;z-index:50}
.basket-promo-codes{font-size:14px;letter-spacing:1px;font-weight:400;font-family:HelveticaNeueLT-MediumCond, pragmatica-web-condensed, arial, sans-serif;color:#3f6826;border:solid 1px #3f6826;margin:10px 0;padding:10px}
.basket-promo-codes li:after{content:" has been applied";font-family:HelveticaNeueLT-LightCond, pragmatica-web-condensed, arial, sans-serif}
#ACSFrame{min-height:450px;max-width:450px;width:100%}
#threeDs_wait{font-size:16px;letter-spacing:1px;text-align:center}
.paymentTypes img{vertical-align:middle}
.font-size-0,#security-info .standard-font{font-size:0}
.text-right,.gift_holder{text-align:right}
.margin-top-15,#delivery_column .change_address,.checkout_product{margin-top:15px}
#checkoutHolder input[type=text],#checkoutHolder input[type=password],#checkoutHolder input[type=email],.checkout_product,.gift_holder label{text-align:left}
#checkoutHolder input[type=button].button-black,#checkoutHolder input[type=submit].button-black,#checkoutHolder a.button-black,#countryWarning a.changeCountry{background-color:#323236;color:#FFF}
.address_holder h3,.shipping_holder h3,#manual_address{margin-bottom:10px}

.giftWrapCheckout {width: 60%;height: auto;margin: 0 auto}


@media (max-width: 767px) {
    .mobile-center{text-align:center}
    #security-info{margin-top:20px}
    .change_address{text-align:left;margin-top:10px}
    #payment_options,#create_account{border-left:0;margin-top:15px;border-top:solid 2px #e9e9e9;padding-top:15px}
    #delivery_column{border-left:0}
    .checkout_product h4{display:inline-block;margin-right:5px}
    .checkout_product:not(.international-restriction){border-bottom:solid 1px #e9e9e9;padding-bottom:15px}
    #total_row{margin-top:0;padding-top:0;background-color:#e9e9e9;text-align:right}
    #progress{margin-bottom:20px}
    #checkoutMain h2{font-size:22px}
    #delivery_column .address_holder,#payment_options .address_holder,#create_account .address_holder{padding-left:0}
}