$sansFont: "freight-sans-pro", sans-serif;
$serifFont: "freight-text-pro", serif;

.sansBook {font-family: $sansFont; font-weight:300}
.sansMedium {font-family: $sansFont; font-weight: 500}
.sansSemi {font-family: $sansFont; font-weight:600}
.sansBold {font-family: $sansFont; font-weight:700}
.textBook {font-family:$serifFont; font-weight:400}
.textSemibold {font-family:$serifFont; font-weight:400}
.textBold {font-family:$serifFont; font-weight:700}

/* Free delivery strip */
.freeDelStrip {background-color:#e9e9e9;display:block; line-height:12px; text-transform:uppercase; font-size:14px; text-align:center; padding:10px; margin:10px 0 5px 0; letter-spacing:1px}

/* Free returns AB test */
.fontWeightUp {font-weight: 600}
.freeReturnsProduct {font-size: 16px; display:block; clear:both}
.returnReturnsBasket {width: 100%;padding: 10px 22px 0 0;text-align: right;font-size: 13px !important}
.ABVariant {display:none}

/* Swatches */
.productHolder {width: 99.9%; background-color: #ffffff}
.productImage {position: relative; width: 100%; float: left; padding-top: 124.933333333333%; overflow: hidden; cursor: pointer; border: none;background-color: #ffffff}
.productImageHolder {position: absolute; left:0; top:0; width: 100%;  border: none; background-color: #ffffff}
.productInfo {text-align: center; float: left; width: 100%; background-color: #ffffff}
.productTitle {font-size: 14px;margin: 20px 0 5px 0;text-transform: uppercase; font-weight: 500; letter-spacing:1px}
.productPrice {font-size: 14px;margin: 0 0 5px 0;text-transform: uppercase; letter-spacing: 1px; font-weight: 400}
.productReviewStars {font-size: 14px}
.productSwatches {text-align: center; margin-top: 18px}
.productSwatch {width: 27px;height: 27px;display: inline-block; margin: 6px 3px 0px 3px; padding: 2px; border: 1px solid #ffffff; cursor: pointer}
.product-swatches .swatch {float:left}
.productSelected {border-color: #858585}
.product-swatches img{cursor:pointer;padding-bottom:22px;max-width:30px; padding-right:2px}
.swatch{min-width:36px}
.swatch-selected,.selected-swatch{background-image:url(//d1kh76s6bjh8ww.cloudfront.net/img/icon-arrow-accordion-up-retina.png);background-size:30px 30px;background-repeat:no-repeat;background-position:bottom center}
.outOfStock {padding-top: 10px}
.topNavSale, .saleItem a {color:#ca9637 !important} 
.category-product-items .product, .category-product-items .rangeproduct {margin-bottom: 188px; height: 390px; padding: 0 10px}
.textRight {text-align: right}
.helvMedium {font-family: $sansFont}
.helvLight {font-family: $sansFont}
.textCenter {text-align: center}

/*Framework*/
.landscapeTile{display: block;width: 100%;padding-top: 58.46748%;margin-bottom: 10px;background-size: 100% 100%;position: relative}
.portraitTile {width: 100%; display: block; width: 100%;padding-top: 128%;  margin-bottom: 10px; background-size: 100% 100%; position: relative}
.tileTitle {position: absolute; top:85%; width: 100%; text-align: center; color: #ffffff}
.tileTitleHigher {position: absolute; top:78%; width: 100%; text-align: center; color: #ffffff}
.signup-message {color:#ffffff; font-size: 16px}

/*Category Headers*/
.landingBSIntro{text-align: center}
.landingBSIntro h1 {font-size: 26px;font-family: $serifFont; font-weight: 600}
.landingBSIntro h2 { font-size: 18px; font-family: $serifFont;font-weight: 400; margin-top: 16px;letter-spacing: 1px}
.landingBSIntro p {font-size: 18px;font-family: $serifFont;letter-spacing: 1px}
.landingBS p {font-size: 16px; font-family: $serifFont; letter-spacing: 1px}
.landingBSIntro p.newProductDescription{font-size: 16px; line-height: 24px}
.landingBSIntro a.newProductLBLink{text-align: center;position: relative; top: 15px;font-size: 14px;letter-spacing: 1px;border-bottom: 1px solid #000000;padding-bottom: 5px;text-transform: uppercase}

/* Range page */
.products-in-range {text-align: center} 
.products-in-range .range-product {float: none; display: inline-block} 
.t_Tooltip {display: none}

/*Homepage*/
.tileTitleMid {color: white;position: absolute;top: 31%;width: 100%;text-align: center;font-size: 28px;line-height: 45px; letter-spacing: 2px; left:0}
.hlTopTile {width: 100%; display: block; width: 100%; padding-top: 62.947%;  margin-bottom: 20px; background-size: 100% 100%; position: relative}
.hlTopTile .tileTitle {top: 45%}
.hlTile1{background-image: url('//media.toa.st/content-images/aw17/1500/TOAST_DeepWinter_Homepage_1.jpg');padding-top: 74.951%}
.hlTile2{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Homepage_2.jpg');padding-top: 128.911%}
.hlTile3{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Homepage_3.jpg');padding-top: 128.911%}
.hlTile4{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Homepage_4.jpg');padding-top: 128.911%}
.hlTile5{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Homepage_5.jpg');padding-top: 128.911%}
.hlTile6{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Homepage_6.jpg');padding-top: 128.911%}
.hlTile7{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Homepage_7.jpg');padding-top: 128.911%}
.hlTile8{background-image: url('//media.toa.st/content-images/aw17/1390/TOAST_DeepWinter_Homepage_8.jpg');padding-top: 128.911%}
.hlTile9{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Homepage_9.jpg');padding-top: 128.911%}
.hlTile10{background-image: url('//media.toa.st/content-images/aw17/1390/TOAST_DeepWinter_Homepage_10.jpg');padding-top: 58.46748%}
.hlTile10 .tileTitle {top: 72%}
.hlTile11{padding-top: 58.46748%}
.preTitle {color: #ffffff;font-size: 18px;margin: 0 0 -5px 0;padding: 0}

.hlTile1 .tileTitleMid{top: 50%;color: #d14d18}
.hlTile1 .tileTitleMid h1{margin-bottom: 20px}
.hlTile1 .tileTitleMid a{font-weight: 300}
.hlTile1 h1{margin-bottom: 0px; font-size: 34px; color: white}
.hlTile1 p{color: #d14d18; font-size: 24px;margin-top: 5px; letter-spacing: 1px}
.hlTile1 .shopTxt {text-transform: uppercase; color: white; text-decoration: none; margin: 10px 20px;font-weight:300; line-height: 27px; display: inline-block; border-bottom: 1px solid white;text-align: center;font-size: 18px;letter-spacing: 1px}
.hlTile2 .tileTitle, .hlTile3 .tileTitle, .hlTile4 .tileTitle {top: 85%}
.hlTile2 .tileTitleMid{top: 32%}
.hlTile2 .tileTitleMid h2{font-size: 32px;color: #d14d18}
.hlTile2 .tileTitleMid p{line-height: 10px;margin-bottom: 50px;font-size: 22px;color: black;font-weight: 500;letter-spacing: 1px}
.hlTile2 .tileTitleMid span{font-size: 18px; border-bottom: 1px solid black;padding-bottom: 2px;color:black;font-weight: 500;letter-spacing: 1px; background-size: 100% 100%}
.hlTile2 .tileTitleMid .saleTopP{margin-bottom: 5px;letter-spacing: 1px}
.lowerTileTitle{position: absolute;bottom: 15.5%;text-align: center;width: 100%}
.lowerTileTitle span{display: inline-block}
.signuptile {text-align: center; background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Homepage_11.jpg')}
.signuptile p {color: white;width: 100%;top: 0px}
.signuptile button {margin-top: 8%;border-width: 0px;font-size: 16px;color: white;letter-spacing:1px;font-family: 'freight-sans-pro', sans-serif;background: transparent}
.signuptile input {min-width: 290px; height: 42px}
.centralTitle {position: absolute; top: 45%; width: 100%; text-align: center; font-size: 34px}
.midAutSaleStrap { font-size: 22px; margin: 10px auto 0 auto; letter-spacing: 1px}
.midAutSaleLink {margin: 195px auto 0 auto; border-bottom: 1px solid #000000; display: inline-block;font-size: 18px; text-transform: uppercase; letter-spacing: 1px }
.minAutSaleTitle {font-weight: 600; letter-spacing: 2px}

/*Women's Landing Page*/
.wl_1{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Women_1.jpg')}
.wl_2{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Homepage_2.jpg')}
.wl_3{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Homepage_3.jpg')}
.wl_4{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Homepage_5.jpg')}
.wl_5{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Homepage_6.jpg')}
.wl_6{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Homepage_4.jpg')}
.wl_7{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Homepage_7.jpg')}
.wl_8{background-image: url('//media.toa.st/content-images/aw17/1390/TOAST_DeepWinter_Homepage_8.jpg')}



.twoLineTitle {font-size: 22px; letter-spacing: 2px; margin-bottom: 25px}
.saleLink {border-bottom: 1px solid #ffffff; font-size: 18px; letter-spacing: 1px}

/*house and home landing page*/
.houseandhome .col-sm-6, .houseandhome .col-sm-12, .womens .col-sm-6, .homepage .col-sm-6, .homepage .col-sm-12, .lookbook .col-sm-4 {padding-left: 5px;padding-right: 5px}

.hhlTile1{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_HH_1.jpg');padding-top: 74.9517%; margin-bottom: 10px}
.hhlTile2{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_HH_2.jpg'); margin-bottom: 10px;padding-top:128.911%}
.hhlTile3{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_HH_3.jpg'); margin-bottom: 10px;padding-top:128.911%}
.hhlTile4{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_HH_4.jpg'); margin-bottom: 10px;padding-top:128.911%}
.hhlTile5{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_HH_5.jpg'); margin-bottom: 10px;padding-top:128.911%}
.hhTopTile {width: 100%; display: block; width: 100%; padding-top: 62.966%;  margin-bottom: 20px; background-size: 100% 100%; position: relative}
.hhlTile1 .tileTitle {top: 45%;line-height: 45px}
.hhlTile1 .tileTitle a {color: #ffffff}
.hhlTile1 .tileTitle .landingTileTxt{font-size: 28px; margin-bottom: 25px}
.hhlTile1 .tileTitle .mainTitle{font-size: 34px; margin-bottom: 40px}
.hhlTile1 .shopTxt {text-transform: uppercase; color: white; text-decoration: none; margin: 10px 20px;font-weight:300; line-height: 27px; display: inline-block; border-bottom: 1px solid white;text-align: center;font-size: 20px;letter-spacing: 1px}
.hhShop {margin-bottom: 5%}

/* Lookbook landing tiles */
.lb_1{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_PreCollection_LandingWomen_New.jpg')}
.lb_2{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_EarlyAutumn_Landing_Women_1.jpg')}
.lb_3{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_Autumn_Landing_1.jpg')}
.lb_4{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_Winter_Lookbook_5b.jpg')}
.lb_5{background-image: url('//media.toa.st/content-images/aw17/1400/TOAST_DeepWinter_Lookbook_1.jpg')}
.lb_1 .mainTitle, .lb_2 .mainTitle, .lb_3 .mainTitle, .lb_4 .mainTitle ,.lb_5 .mainTitle,.lb_6 .mainTitle,.lb_7 .mainTitle,.lb_8 .mainTitle,.lb_9 .mainTitle {font-size: 22px}
.LBtileTitle {position: absolute; top:72%; width: 100%; text-align: center; color: #ffffff }
.LBtileTitle .mainTitle {width: 100%;  font-size: 22px; float: left; letter-spacing: 3px}
.LBtileTitle .subTitle {width: 100%;  text-transform: uppercase; padding-top: 12px; float: left; font-size: 16px; letter-spacing: 2px}
.lookBookContentDividerTop {margin-bottom:50px}
.lookBookLastItem {margin-bottom: 50px}
.lookBookContentDividerTop h1 {font-size: 24px; letter-spacing: 1px}
.lookBookContentDividerTop p {font-size: 16px; letter-spacing: 1px}


/*New Lookbook Styles*/
.lookbookDivider{margin-top:100px}
.lookBookHead{margin-top: 50px}
.lookbookDividerSml{margin-top:20px}
.lookbookContentDividerTop{margin-top: 25px}
.lookbookContentDividerBottom{margin-bottom: 100px}
.lowerLBset{display:inline-block;margin-bottom:50px}

/*Making of Landing*/
.molpSubTitle{font-size: 16px; letter-spacing: 2px;text-transform:none;float: left;margin-top: 16px;width: 100%}
.molpTileTitle{left: 10%; right:10%; width: 80%}
.molp_6{padding-top:128%;width: 100%; display: block; width: 100%;margin-bottom: 20px; background-size: 100% 100%; position: relative;background-image: url('//media.toa.st/content-images/ss17/1200/TOAST_MakingOfBlockPrint_Landing_New.jpg')}
.molp_5{padding-top:128%;width: 100%; display: block; width: 100%;margin-bottom: 20px; background-size: 100% 100%; position: relative;background-image: url('//media.toa.st/content-images/ss17/1200/BrickettDavda_Mobile.jpg')}
.molpSubTitle{font-size: 16px; letter-spacing: 2px;text-transform:none}
.molp_1{background-image: url('//media.toa.st/content-images/ss17/1200/TOAST_MakingOF_Landing_3.jpg');margin-bottom: 20px}
.molp_3{background-image: url('//media.toa.st/content-images/ss17/1200/TOAST_MakingOF_Landing_5.jpg')}
.molp_4{background-image: url('//media.toa.st/content-images/ss17/1200/TOAST_MakingOF_Landing_2b.jpg')}
.molp_2{background-image: url('//media.toa.st/content-images/ss17/1200/TOAST_MakingOF_Landing_4.jpg')}

/*Making of*/
.wnlShopBTN{letter-spacing: 1px;text-decoration: underline;font-size: 22px;letter-spacing: 2px;text-align: center;margin-top: 60px;margin-bottom:60px}
.khadiCTA {text-align: center; text-transform: uppercase; margin-bottom: 20px}
.khadiContentPad {margin: 20px 20px 46px 20px}
.shopTI{width: 100%;background-image:url('//media.toa.st/content-images/ss17/780/WEB_MakingOf_Indigo_Shop.jpg'); padding-top: 121.484375%;position: relative; color: #ffffff ; background-size: 100% 100%; display: block; margin-bottom: 10px}
.shopKhadi {width: 100%; background-image: url('//media.toa.st/content-images/ss17/780/WEB_MakingOf_Khadi_Shop.jpg'); padding-top: 121.484375%; position: relative; color: #ffffff ; background-size: 100% 100%; display: block; margin-bottom: 10px }
.clearBoth{clear: both}
.bottom20 {margin-bottom: 20px}
.makingOfTextPad{padding: 0px 20px}
.shopIkat{width: 100%;background-image:url('//media.toa.st/content-images/ss17/780/WEB_MakingOf_Ikat_Shop.jpg'); padding-top: 121.484375%;position: relative; color: #ffffff ; background-size: 100% 100%; display: block; margin-bottom: 10px}
.cheaneyM30 { margin: 30px 0px}
.toastMagazineQuarter {width: 100%; background-image: url('//media.toa.st/content-images/ss17/780/TOAST_MakingOfBlockPrint_6.jpg'); padding-top: 121.484375%; position: relative; color: #ffffff ; background-size: 100% 100%; display: block }
.quarterWidthPanelText {width: 100%;text-align: center;font-size: 18px;position: absolute;bottom: 8%;padding: 10px;letter-spacing: 2px;font-size: 24px;display: block}
.davdaTop30{margin-top: 30px}
.cheaneyTop30 { margin-top: 30px}
.shopBD{width: 100%; background-image: url('//media.toa.st/content-images/aw16/780/TOAST_MakingOfBrickettDavda_4.jpg'); padding-top: 121.484375%; position: relative; color: #ffffff; background-size: 100% 100%; display: block; margin-bottom: 10px}
.centerTileTitle {position: absolute;width: 100%;top: 16%;left: 0px;text-align: center;min-height: 200px}
.centerTileTitle p{width: 100%;text-align: center;font-size: 18px;letter-spacing: 1px}
.centerTileTitle input{padding: 0px;text-align:center;border-width: 0px}
.centerTileTitle h2{padding-top: 8%;font-size:16px;letter-spacing: 1px;font-family: 'freight-sans-pro', sans-serif}
.shopCS{ width: 100%; background-image:url('//media.toa.st/content-images/ss17/780/WEB_MakingOf_Cheaney_Shop.jpg'); padding-top: 121.484375%; position: relative; color: #ffffff; background-size: 100% 100%; display: block; margin-bottom: 10px}
.shopBP{width: 100%;background-image:url('//media.toa.st/content-images/ss17/780/TOAST_MakingOfBlockPrint_5_New.jpg');padding-top: 121.484375%; position: relative; color: #ffffff; background-size: 100% 100%; display: block; margin-bottom: 10px}

/*About Us Page*/
.aboutUsBanner{width: 100%; margin-top:10px; padding-top: 38.82807469414%; background-image: url('//media.toa.st/content-images/AW16/1200/TOAST_WEB_AboutUs_1.jpg'); background-size: 100% 100%; position: relative}
.aboutUsBanner .tileTitleMid {line-height: 54px; letter-spacing: 2px;top: 35%; font-size: 36px}
.aboutUsBannerText {width: 50%; margin: 0 auto}
.aboutUsBanner p {font-size: 16px; margin-top: 20px; display: block; line-height: 22px}
.aboutUsLinks {margin: 30px 0 30px 0; text-transform: uppercase; font-size: 14px; letter-spacing: 1px}
.aboutUsLinks a {border-bottom: 1px solid #000000; padding-bottom: 5px}
.cText .aboutUsLinks{    border-bottom: 1px solid #000000;padding-bottom: 5px}
.aboutUsImageCol {width: 44%; margin: 0 3%; float: left; margin-top: 40px}
.aboutUsImageColFull {width: 94%; margin: 6% 3%; float: left}
.aboutUsDeliveryText {font-size: 16px; text-align: center; margin-top: 40px; background-color: #e9e9e9; padding: 20px 20px 0 20px; width: 94%; margin: 0 3%; display: block; line-height: 12px; float: left}
.aboutUsFooterText {margin-top: 30px; margin-bottom: 60px; font-size: 17px; text-align: center; float: left; line-height: 26px}
.aboutUsText {font-size: 17px; text-align: center; margin-top: 60px; float: left; line-height: 26px}
.tileTitle .mainTitle {width: 100%;  font-size: 22px; float: left; letter-spacing: 2px}
.tileTitle .subTitle {width: 100%;  text-transform: uppercase; padding-top: 12px; float: left; font-size: 16px; letter-spacing: 2px}
.cText .aboutUsLinks{    border-bottom: 1px solid #000000;padding-bottom: 5px}

/*Work with us*/
.cText{text-align: center; font-size: 17px;line-height: 26px;margin-top: 10px}
.workWithUs{position:relative;background-size: 100%;background-repeat:no-repeat;background-image: url('//media.toa.st/content-images/aw16/768/TOAST_WorkWithUs_1.jpg'); padding-top:38.892561%;margin-top: 10px}
.wwuTitle{color: white;position: absolute;top: 44%;width: 100%;text-align: center;font-size: 38px;line-height: 45px; letter-spacing: 2px}
.workWithUs2{background-image: url('//media.toa.st/content-images/aw16/768/TOAST_WorkWithUs_2.jpg');padding: 20%;background-size: 100% 100%}
.mBottom10{margin-bottom: 20px}
.wwuImageTile{margin-top: 20px;margin-bottom: 10px}
.jobTile{text-align: center;background-color: #e9e9e9;min-height: 200px !important}
.jobInfo h2{font-size: 18px; letter-spacing: 1px}
.jobInfo a{text-decoration: none;color: #000;border-bottom: 1px solid black;text-transform: uppercase;letter-spacing: 1px;font-size: 14px}
.jobInfo .jobRole{font-family: $sansFont;font-size: 16px}
.lkpgLTb20{margin-bottom: 20px}
.jdThreeLine h2{ margin-top: 7%}
.jdTwoLine h2{margin-top: 11%}
.jobTile{text-align: center;background-color: #e9e9e9;min-height: 200px !important}
.office{font-size:22px;letter-spacing: 1px;margin: 20px;margin-top: 30px;display: inline-block}
.wwuTile{border-bottom: 2px solid black;letter-spacing: 2px;text-align: center;font-weight: 600;margin-bottom: 60px}
.wwuImageTile{margin-top: 20px;margin-bottom: 10px}

/*Store Events WOTH*/
.storeEventsContainer{margin-bottom: 100px}
.wothHeadText{text-align: center; margin-top:40px}
.wothHeadText h3{font-size: 28px; line-height:55px; text-transform: none;letter-spacing: 1px}
.wothHeadText span{font-size: 18px}
.wothContent{margin-top: 20px}
.wothContent p{font-size:16px;text-align: center;letter-spacing: 1px}
.wothLinks{text-align: center; margin-top: 20px}
.wothLinks a{border-bottom: 1px solid black;padding-bottom: 3px}
.wothContent p.wothTerm{font-size: 12px; font-weight: 400}

/*Further Markdowns*/
/*.hlTile1 .fmMsgTop{font-size:22px; margin-bottom:0;  margin-top:30px; line-height: 0.5}
.hlTile1 .fmMsgBtm{font-size:22px; margin-top:0}
.swl_2 .fmMsgTopP, .shhl_2 .fmMsgTopP{font-size:22px; margin-bottom:0;  margin-top:30px; line-height: 1;letter-spacing: 1px}
.swl_2 .fmMsgBtmP, .shhl_2 .fmMsgBtmP{font-size:22px; margin-top:0;letter-spacing: 1px}
.swl_2 .fmMsgTopP, .swl_2 .fmMsgBtmP, .shhl_2 .fmMsgTopP, .shhl_2 .fmMsgBtmP{color: black}
.swl_2 .fmMsgTopP{font-weight: 500}
.swl_2 .fmMsgBtmP{font-weight: 500}
.swl_2 .tileTitle h2{font-size: 32px;letter-spacing: 2px}
.swl_2 .tileTitle p{letter-spacing: 1px}
.shhl_2 .fmMsgTopP{font-weight: 500}
.shhl_2 .fmMsgBtmP{font-weight: 500}
.shhl_2 .tileTitle p{letter-spacing: 1px}
.lwsStile1 .fmMsgTopB{font-size:22px; margin-bottom:0;  margin-top:30px; line-height: 1.5}
.lwsStile1 .fmMsgBtmB{font-size:22px; margin-top:0}
.lwsStile1.saleTileMain .fmMsgTopB.saleTileCustText{margin-top: 20px}
.lwsStile1.saleTileMain .tileTitleMid{top: 40%}
.lwsStile1.bannerTile .tileTitleMid{top: 30%} */

/*Misc*/
.row .hidden-row{display:none}
.us .hidden-us{display:none}
.eu .hidden-eu{display:none}
.uk .hidden-uk{display:none}
.empty-wishlist-text{font-family: $sansFont;font-weight: 500}
.wishlistHeader{font-weight: 500}
.tileTitle .landingTileTxt {font-size:22px; letter-spacing: 2px}
#review-section.expanded{padding-bottom: 10px}
.underlineLink {border-bottom: 1px solid #000000}
.topNavSpacer {margin-bottom:20px; float:left;width:100%}
.us #Outdoor.nav-option, .eu #Outdoor.nav-option, .row #Outdoor.nav-option{display:none}
.basket-recommendation-price .sale, .basket-recommendation-price .saletext {font-size: 12px}
span.basket-recommendation-title, span.basket-recommendation-price {font-size: 12px}
.size-options{display:inline-block !important}

/*Lookbook*/
.relcol{position: relative; display: block;padding-top: 70.60%;left: 54%}
.customImgPlc{position: absolute; bottom: 0}

/*Third party catalogs checkbox and text*/		
label[for="chkReceiveThirdPartyCatalogs"]{display:none}		
input#ctl00_globalMainContent_chkReceiveThirdPartyCatalogs{display:none}

/* Footer style 
.footerMessage {padding-top: 10px;float: left;width: 100%; text-align: center}
.footerColHolder { padding-top: 20px}
.bootstrapFooter h3 {font-weight: 300; font-size: 22px; text-transform: uppercase}
.footerList li {padding-bottom: 13px; letter-spacing: 1px; font-size: 12px}
.footerSocialIcons li {display: inline-block; padding-right: 5px}
.footerSocialIcons ul {margin:0 0 20px -10px}*/

.marketingMessage {background-color: #dfdfdf; color: #000; width: 100%; padding:8px; text-transform: uppercase; letter-spacing: 1px; text-align: center}

/*NEW FOOTER STYLES*/
.aboutUsNavOpt{clear:both}
.footerCol{width:20%;float:left; margin-bottom: 20px}
.footerFirstSect{padding-left:0}
.footerPad ul li{font-size:12px;line-height:20px;letter-spacing:1px}
.socialCol{text-align:right}
.socialCol ul li{font-weight:300;line-height:25px; display: inline}
.socialCol ul li a{display:inline-block}
.socialCol ul li a img{padding-left:10px;height:18px}
.facebookOpt{background-position:0px -314px;height:31px;display:table-cell;width:32px;background-size:271px;line-height:1em;vertical-align:middle}
.twitterOpt{background-position:-36px 377px;height:31px;display:table-cell;width:32px;background-size:294px;line-height:1em;vertical-align:middle}
.instagramOpt{background-position:-105px 176px;height:31px;display:table-cell;width:32px;background-size:152px;line-height:1em;vertical-align:middle}
.pinterestOpt{background-position:-70px 176px;height:31px;display:table-cell;width:32px;background-size:152px;line-height:1em;vertical-align:middle}

/*Sitemap*/
.sitemapTitle {letter-spacing: 1px; text-transform: uppercase;border-bottom: 3px solid #909090;font-size: 26px;padding-top: 30px;margin-bottom: 30px} 
.sitemapTitle .smTileTitle{font-size:26px}
.smTileTitle {font-size: 22px;font-weight: 300}
.sitemapSub {text-transform: uppercase;border-bottom: 1px solid #909090;font-size: 22px;margin-bottom: 30px}
.sitemapSSub {margin-top: 30px;font-weight: 100;font-size: 22px;text-transform: uppercase;border-bottom: 1px solid #909090;margin-bottom: 30px}
.sitemapSecondaryTitle {font-weight: 400;font-size: 16px;display: block;text-transform: uppercase;margin-bottom: 20px}
.sitemapClear {margin-top: 30px}
.smRow ul li a {line-height: 24px;font-size: 16px}
.smhalfCol{padding-left: 0px!important}

/* Sale price */
li.main-link.sale a {color:#db2424}

/*Curates page*//* Press book */
.unslider {overflow:auto;margin:0;padding:0}
.unslider-wrap{position:relative}
.unslider-wrap.unslider-carousel>li{float:left}
.unslider-vertical>ul{height:100%}
.unslider-vertical li{float:none;width:100%}
.unslider-fade{position:relative}
.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{z-index:10}
.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}
.unslider-arrow{position:absolute; left: 20px;top: 40% ; z-index:2;cursor:pointer; background: url(//media.toa.st/content-images/pressbook/1000/TOAST_Arrows.png);width: 17px; height: 25px; display: block; background-size:  35px 25px}
.unslider-arrow.next {position: absolute; top: 40%; left: 100% ; z-index: 10; background: url(//media.toa.st/content-images/pressbook/1000/TOAST_Arrows.png); width: 17px; height: 25px; display: block; background-size:  35px 25px; background-position: 17px 0; margin-left: -40px}
.unslider-nav {display: none}
.landingBSIntro h1.storeEventsHeading{letter-spacing: 1px}
.closeUpDesc{text-align: center;margin-top: 40px}
.closeUpDesc .eventHead{font-size: 16px; font-weight: 600;letter-spacing: 1px}
.closeUpDesc p{font-size: 16px;margin-bottom: 20px;letter-spacing: 1px}
.closeUpDesc a{font-size: 18px;text-decoration: none;color: #000;border-bottom: 1px solid black;text-transform: uppercase}
.eventSubText{font-size: 16px;margin-top: 30px;letter-spacing: 1px}
.formFrame{margin-top: 50px}
.pb_openingTile {background: url(//media.toa.st/content-images/ss17/768/Pressbook_Cover_17.jpg); display: block; width: 100%; padding-top: 128%; margin-bottom: 20px; background-size: 100% 100%; position: relative; color:#ffffff}
.pb_openingTileText {position: absolute; width: 100%; text-align: center; top:40%; font-size: 26px; letter-spacing: 2px; margin-bottom: 20px}
.pb_openingTile h1 {font-size: 26px; letter-spacing: 3px; margin-bottom: 10px; color: #000000}
.pb_openingTileLink {font-size: 16px; letter-spacing: 1px; padding-bottom: 3px; border-bottom: 1px solid #000000; color:#000000; text-transform: uppercase; }
.pb_openingTilePara {font-size: 16px; letter-spacing: 1px; padding-bottom: 3px; color:#000000; text-transform: uppercase; width: 100%; float: left;  }
.pb_openingText {text-align: center; width: 100%; font-size: 16px; margin: 20px 0; line-height: 24px}

/*Sale landing*/
.saleHoldingBanner{background-image: url('//media.toa.st/content-images/ss17/1200/TOAST_SummerPreSale_SaleLanding.jpg');padding-top: 74.050%;font-size: 34px}
.saleHoldingBanner .tileTitle{top: 38%}
.saleHoldingBanner .mainTitle{color: #d14d18;font-size: 34px;margin-bottom: 14px}
.saleHoldingBanner p{font-size: 22px;color: black;margin-top: 5px;font-weight: 500}
.saleHoldingBanner span{font-size: 18px;font-weight: 500;border-bottom: 1px solid black;margin-top: 50px;display: inline-block;line-height: 28px}
.saleLandingPage {padding-top: 39.181%;background-image: url(//media.toa.st/content-images/ss17/1200/TOAST_Web_SpringTreatSaleEnds.jpg); margin-bottom: 20px; background-size: 100% 100%}
.saleLandingPageSub a {text-transform: uppercase; font-size: 16px; text-decoration: underline; color: white}

/* Sale landing pages */
/*.swl_2{background-image: url('http://media.toa.st/content-images/aw17/701/TOAST_Sale70pc_2.jpg')}
.swl_2 .tileTitle{top: 36%; color: #d14d18}
.swl_2 .mainTitle{font-size: 32px; margin-bottom: 10px}
.swl_2 p{font-size: 24px}
.swl_2 .shopTxt{font-size: 18px;border-bottom: 1px solid black;display: inline-block;margin-top: 39px; letter-spacing: 1px;color: black;font-weight: 500}
.shhl_1{background-image: url(//media.toa.st/content-images/ss17/700/TOAST_PreCollection_LandingHouseHome_1.jpg); padding-top: 128%; margin-bottom: 20px}
.shhl_1 .tileTitle{top: 40%;line-height: 45px}
.shhl_1 .tileTitle .mainTitle{margin-bottom: 9px;font-size: 32px}
.shhl_1 .tileTitle .landingTileTxt{font-size: 28px; margin-bottom: 25px}
.shhl_1 .tileTitle p{font-size: 22px;line-height: 33.6px;letter-spacing: 2px;margin-bottom: 47px}
.shhl_1 .shopTxt {text-align: center;font-size: 18px;letter-spacing: 1px; border-bottom: 1px solid #ffffff;text-transform: uppercase;font-weight: 300}
.shhl_2{background-image: url(//media.toa.st/content-images/aw17/700/TOAST_Sale70pc_2.jpg)}
.shhl_2 .tileTitle{top: 38%; color: #d14d18}
.shhl_2 .mainTitle{font-size: 32px; margin-bottom: 10px}
.shhl_2 p{font-size: 24px}
.shhl_2 .shopTxt{font-size: 18px;border-bottom: 1px solid black;display: inline-block;margin-top: 30px; letter-spacing: 1px;color: black;font-weight: 500}
.bannerTile{background-image: url('//media.toa.st/content-images/aw17/1200/TOAST_Sale70pc_1.jpg');padding-top: 38.33%}
.bannerTile h1{color: #d14d18;font-size: 34px; line-height: 44px}
.bannerTile p{font-size: 24px;line-height: 24px;color: black; letter-spacing: 1px;font-weight: 500}
.bannerTile a{color: black;font-size: 18px;margin: 20px 10px 10px 10px;display: inline-block;letter-spacing: 1px}
.bannerTile a span{font-weight: 500;border-bottom: 1px solid black}
.bannerTile .tileTitleMid{line-height: 32px}
.saleTile{text-align: center;margin-bottom:20px; float:left}
.saleTile p{font-size: 16px;margin-top: 20px;letter-spacing: 1px; border-bottom: 1px solid black;display: inline-block;font-weight: 400; text-transform: uppercase} */

/* New help section */
.helpSection .subnav {display: none}
.helpSection .visible {display: block}
.helpSection .margintop {margin-top: 30px}
.helpSection .navItems {font-size:15px; letter-spacing:1px; line-height: 14px;margin:0 0 35px 0}
.helpSection .navItems>ul{padding-bottom:20px}
.helpSection .navItems li {margin: 8px 0;font-weight:500}
.helpSection .navItems a {display:block}
.helpSection .navItems li li {font-weight:100}
.helpSection .navItems li ul {margin: 10px}
.helpSection .navItems ul ul {margin-bottom: 25px}
.helpSection .helpContentArea {min-height: 600px; margin-top: 4px}
.helpSection .helpContentArea h1, .mobileIntro h1 {text-transform: uppercase; font-family: $sansFont; font-weight:600; font-size: 16px; letter-spacing: 1px; }
.helpSection .helpContentArea h2 {width: 100%; border-bottom: 1px solid #b4b4b4; text-transform: uppercase; margin: 30px 0 0 0; font-family: $sansFont; font-weight:400; font-size: 16px; letter-spacing: 1px}
.helpSection .helpContentArea h3{font-size: 16px;font-weight: 600}
.helpSection .helpContentArea p, .helpContentArea li, .mobileIntro p {font-size: 16px; letter-spacing: 0}
.helpSection .helpContentArea ul {margin: 0 0 0 20px}
.helpSection .helpContentArea li {list-style: disc}
.helpSection .helpContentArea table {margin: 20px 0}
.helpSection .helpContentArea td {height: 40px; vertical-align:middle; font-size: 15px; text-align: center}
.helpSection .helpContentArea a {text-decoration:underline}
.helpSection .mobileIntro{display: none}
.helpSection a.pdf-link {text-decoration:none}
.helpSection .pale-bg {background-color: #f2f2f2}  
.helpSection .size-row:nth-child(odd), .sizes .size-row:nth-child(odd) span { background-color: #e9e9e9}
.helpSection .active {color: #aaaaaa}
.helpSection .errorText {font-size:15px}
.helpSection .helpTitleItem {margin:20px 0 10px 0; font-size: 16px}
.helpSection .parent {background: url(//d2xfispw8k8nwr.cloudfront.net/images/arrow.gif) no-repeat 216px 5px; background-size: 8px 8px}
.helpSection .sizeTable {font-size: 14px; text-align: center; border: 1px solid black;}
.helpSection .sizeTable  td {border: 1px solid black; padding:5px;}
.helpSection .sizeTableTitle {background-color:#f2f2f2; text-transform: uppercase; font-weight:500;}
.helpSection .sizeTitle {width: 100%}
.helpSection .sizeCM {width: 50%; float: left; text-transform: initial}
.helpSection .sizeInches {width: 50%; float: right; text-decoration: center}  
.helpSection .sizeSizes {font-size: 12px; font-style: italic; text-transform: initial;}

/* In the detail */
/*.customProductHolder{margin-top: 50px;text-align: center;font-size: 14px;line-height: 16px}
.customProductHolder img{margin: 0 auto}
.customProductHolder span{line-height: 30px}
.productSnippet{font-size: 16px;letter-spacing: 1px;margin-top: 30px;  }
.productSnippetRight{text-align: right;font-size: 16px;letter-spacing: 1px;margin-top: 30px}
.productSnippetHead{margin: 0}
.productSnippetPushed{margin-top: 100px}
.pSnippetCustom{margin-top: 0;margin-bottom: 30px;  font-size: 16px;letter-spacing: 1px}
.productSnippetPushCustom{margin-top: 122px}
.productSnippetPushedClear{clear: both}
.pSnippet{font-size: 16px;letter-spacing: 1px;margin-top: 0;margin-bottom: 0;    }
.productPara{font-size: 18px;letter-spacing: 1px;margin-top: 50px;margin-bottom: 0}
.productParaRight{font-size: 18px;letter-spacing: 1px;margin-top: 50px;text-align: right}
.customTxtPush{margin-top: 50px}
.customImgPush{clear:both;margin-top: 100px}
.customImgPushInline{margin-top: 100px}
.inDetailShopLink{text-align: center;margin-top: 50px;margin-bottom: 100px}
.inDetailShopLink a{font-size: 18px;letter-spacing: 1px;padding-bottom:3px; font-weight: 400;border-bottom: 1px solid black}
.productSnippetClear{clear: both}
.landingBSIntro .inDetailHeadText{font-size: 16px}
.customProductHolder.cphClear{clear:none}
.cRow{margin-left: 0px; margin-right: 0px}
.productCustomMargin{margin-top:80px}*/

/*Email pop-up*/
.elb_Lightbox {background-color:rgba(0, 0, 0, 0.6); position: absolute; top:0; left:0; height: 500px; width: 100%; z-index: 1001; display: none}
.elb_emailBoxText h2{font-size: 22px; letter-spacing: 1px}
.elb_emailBoxText h3{font-size: 24px; letter-spacing: 1px}
.elb_emailWhiteBox {margin: 0 auto; max-width: 500px; width: 94%; height: 296px; background-color: #ffffff ; padding: 10px 10px 50px 10px; text-align: center}
.elb_hiddenHTML {display: none}
.elb_emailBoxText {width: 100%; margin: 0 0 20px 0; font-size: 16px}
.elb_emailBox input {width: 60%; padding: 8px}
.elb_emailSubmit {font-size: 16px; }
.elb_submitClose {text-align: right; width: 100%; height: 33px}
.elb_submitClose img {float: right}
.elb_submitFeedback {height: 20px; margin: 10px 0; width: 100%; color:  #dd4b39 }
.elb_Lightbox input[type=submit] {color: #fff;font-size: 12px;padding: 10px; margin: 10px auto; background-color: #323236;   text-transform: uppercase;border: none; width:120px; position: relative; top:1px; }
.hiddenContent{display:none}
.submitErrors p, .emailSender label {font-size: 16px; margin:0; padding:0}

/*New store pages*/
#map_canvas {height: 600px; width: 100%}
#map_canvas_shop  {height: 400px; width: 100%}
.storePageContent{margin-top:16px;margin-bottom: 50px;padding:0;float:left}
.helpSection .storePageContent .shopTitle{font-family:$serifFont; font-weight:600;text-transform: none}
.helpSection .storePageContent .openingHours h3{text-transform: uppercase}
.storeContentMain{margin-bottom: 50px}
.storesIntro p{margin-bottom: 30px}
.textNoTop{margin-top: 0}
.textNoBottom{margin-bottom: 0}
.helpSection .helpContentArea .storePageContent a{text-decoration: none}
.storePageContent .openingHours p{margin-top: 0; letter-spacing: 0}
.helpSection .helpContentArea .storePageContent .storeSub{font-weight: 400}
.helpSection .mapLink.resetZoomButton{text-decoration: none;display: block;width: 120px;padding: 8px;text-align: center;text-transform: uppercase;font-size: 14px;letter-spacing: 1px}
.moreStoreInfo{clear: both;margin-top: 30px}
.shopEventLink{margin-top: 30px}
.helpSection .helpContentArea .readMore{ margin: 20px 0 10px;text-align: center; text-transform: uppercase;font-size: 16px;letter-spacing: 1px; margin-bottom: 20px; border-bottom: 1px solid black}
.hiddenMap{height:0}
.storeSub{font-size: 16px;margin-top: 13px;margin-bottom: 0;font-weight: 600}
.showMap{margin: 20px 0 10px;text-align: center;text-transform: uppercase;font-size: 16px;letter-spacing: 1px;margin-bottom: 20px;border-bottom: 1px solid black}
.closeMap{display: inline-block;width: 120px;padding-bottom: 8px;text-align: left;text-transform: uppercase;text-decoration: none;background: #fff;color: #000;font-size: 16px;letter-spacing: 1px}
.hiddenBtn{display:none}
.storePageContent .shopEventpgTop{margin-top: 0}
.helpSection .shopSection{margin-top: 26px}
.shopSection .navItems {font-size:15px; letter-spacing:1px; line-height: 14px;margin:0 0 35px 0}
.shopSection .navItems li {margin: 8px 0;font-weight:600; }
.shopSection .navItems a {display:block}
.shopSection .navItems li li {font-weight:500}
.shopSection .navItems li ul {margin: 10px; margin-left: 0px }
.shopSection .navItems ul ul {margin-bottom: 25px}
.shopSection .subnav{display: block}
.shopSection .parent{background-image: none}
.shopSection .shopMenuOpener{background: url("//d2xfispw8k8nwr.cloudfront.net/images/arrow.gif") no-repeat right; background-size: 8px 8px}
#map_canvas {height: 400px; width: 100%;margin-bottom: 30px}
#map_canvas_shop  {height: 600px; width: 100%}
#map_canvas_jl{height: 500px;margin-bottom: 50px}
.hiddenBtn{display:none}
img[src="//maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"]{display: none}
div[title="Change map style"] {display: none}
.shopSection .navItems .shopMenuOpener{font-weight:600;display:none}
.shopSection .shopStoreNav{font-family: 'freight-sans-pro', sans-serif}
.shopSection .shopMenuOpener.activated{background-image: url('//d2xfispw8k8nwr.cloudfront.net/images/down_arrow.gif')}
.shopEventLinkA{padding-top: 20px;text-decoration: none}
.shopTitle{margin-top:20px; margin-bottom: 0}
.storeSub{margin-top: 16px}
.address{margin-top: 0;font-weight: 600}
.storeMapBtnHolder{padding-left: 0; padding-right: 0}
.resetZoomButton{display:inline-block}
.helpSection .helpContentArea .closeMap, .helpSection .helpContentArea .showMap{text-decoration: none}
.shopHeaderImg{padding-left: 0;padding-right: 0;margin-top: 20px;margin-bottom: 50px}
.shopTitle.kilverTitle{margin-top: 0}
.shopsPage .helpSection #breadcrumb{margin-top: 7px}
.helpSection .shopSection .helpContentArea .storeAbout h2{border-bottom: 0}
.helpSection .shopSection .helpContentArea 
.shopEventsSect h2{border-bottom: 0}
.moreInfoContent, .shopEventsSectContent{margin-top:0; letter-spacing: 0}

/*Search results */
.rangeproduct { text-align: center}
.rangeproduct h3,  #searchpage_popularproducts h3 {font-size: 13px;font-weight: 400; height: 32px; letter-spacing: 1px; text-transform: uppercase; font-family: $sansFont}
.category-product-items .rangeproduct  span.sale, .product-info span.sale,  .you-may-also-like  span.sale{    text-decoration: line-through; color: #ff0000; margin-right: 5px}
.rangeproduct p {font-family: $sansFont; font-size: 14px; margin-top: 5px; }
.rangeproduct img {margin-bottom: 25px}

 /*Advent page*/
.adventThanks p {font-size: 18px}
.eventHead{margin-top: 40px;font-weight: 600}
.eventContent{font-size: 16px;text-align: center; margin-bottom: 100px}
.eventContent a {font-weight: 500; letter-spacing: 1px}
.eventTitle{font-weight: 600;margin-bottom: 40px;margin-top: 20px;letter-spacing: 1px; }
.eventTitleTopPara{margin-top: 0px;margin-bottom: 50px}

/*No JS */
.jsError {width: 60%;text-align: center;margin-left: 20%}
.jsError a {text-decoration: underline}
.logo {margin: 20px 0;width: 100%;text-align: center}

/*Hay Festival*/
/*.eventCenterPara{text-align: center; margin-top: 50px; margin-bottom: 50px}
.winCaption{margin-top: 15px}
.landingBSHayIntro img{margin-top: 50px}
.landingBSHayTop{margin-bottom: 0px; margin-top: 50px;float: left}
.socialShares{text-align: center}
.socialSharesHolder{text-align: center;margin-bottom:40px}
.competition_facebook{display:inline;bottom:4px;position:relative}
.competition_pintrest{display:inline}
.competition_twitter{display:inline;top:4px;position:relative}
.hayThanks{margin-bottom:30px}
.hayTag{margin-top: 40px}*/

/*Lookbook Container*/
.lookBookContainer{padding-left: 40px;padding-right: 40px}

/*Review page*/
.reviewTitle {font-size: 14px; height:25px}
.reviewProducts {text-align: center;}
.reviewTitle {margin: 10px 0 0 0 }
.reviewLink {margin: 20px 0 0 0 }
.reviewLinkText {border-bottom: 1px solid #000000; text-transform: uppercase; font-size: 13px}
.centralAligner {margin: 0 auto;}
.reviewProduct {margin-bottom: 40px}
.reviewParagraph p {font-size:14px}
.reviewParagraphLink {font-size:13px; text-transform: uppercase;top: 7px;position: relative}
.reviewProducts p {font-size: 16px}


/*Christmas/Gift landing */
.christmasGiftsHolder {margin: 0 20px;}
.christmasGiftsHolder .christmastGiftPadderRight {padding-right:20px; padding-bottom: 40px; float: left}
.christmasGiftsHolder .christmastGiftPadderLeft {padding-left:20px; padding-bottom: 40px; float: left}
.christmasGiftsHolder .twentyPercentCol {width: 20%; float: left; padding: 40px 10px}
.christmasGiftsHolder p {font-size: 16px}
.christmasGiftsHolder h2 {font-size: 20px; margin-top: 20px}
.christmasGiftsHolder .christmastGiftIntro {margin:30px 0; float: left}
.christmasGiftsHolder .christmastGiftSplitter {width: 20%; margin: 30px auto; border-bottom: 1px solid #000000}

@media only screen and (max-width: 1116px){
    .itdPane1, .itdPane2{margin-top: 50px}
}
@media only screen and (max-width: 1024px) 
{
	.category-product-items .product, .category-product-items .rangeproduct {height: 520px; margin: 0} 
    /*Making of*/
    .davdaTop30 {margin-top: 0px}
    /*About us*/
    .aboutUsBannerText {width: 70%;margin: 0 auto}
    /*Work with us*/
    .workWithUs{padding-top: 25%; margin-top: 10px}
    .jdTwoLine h2{margin-top: 8%}
    .jdThreeLine h2{margin-top: 5%}
    /*Sitemap*/
    .smSectionTabClear{margin-bottom: 30px}
    .returnReturnsBasket {padding: 27px 60px 0 0; text-align: left; }
    .midAutSaleLink {margin: 179px auto 0 auto}
}
@media only screen and (max-width: 960px){
	.hlTile2 .tileTitleMid{top: 30%}
    .hhlTile3 .tileTitle .mainTitle{font-size: 22px}
    .lwsStile1 .saleTileMain .bannerTile .tileTitleMid{top: 30%}
    .midAutSaleLink {margin: 165px auto 0 auto}
}
 @media only screen and (max-width: 880px){
 	.midAutSaleLink {margin: 148px auto 0 auto}
  	.lwsStile1.saleTileMain .tileTitleMid{top: 15%}
  	.bannerTile a{margin-top: 10px}
  }

@media only screen and (max-width: 768px) 
{

	.productSwatch { margin: 3px 2px 0px 2px; }
	.category-product-items .product, .category-product-items .rangeproduct  {height: 440px; margin-bottom: 0}
    /*Homepage*/
    .hlTile1 .tileTitleMid{top: 50%}
    .hlTile1 .tileTitleMid h1{margin-bottom: 20px}
    .hlTile1 h1{font-size: 28px;margin-bottom: 20px}
    .hlTile1 a{display: block}
    .hlTile1 .shopTxt{font-size: 16px;margin: 10px}
    .hlTile2 .tileTitleMid h2{font-size: 28px}
    .lowerTileTitle{bottom: 40%;top: 58%}
    .hhlTile3 .tileTitle .mainTitle{font-size: 22px}

    .centerTileTitle {top: 6%}
    .midAutSaleLink {margin: 125px auto 0 auto}
    /*House and Home*/
    .hhlTile1 .tileTitle .mainTitle {font-size: 28px;margin-bottom: 15px}
    .hhlTile1 .shopTxt{font-size: 16px}
    /*Womens landing*/
    .wl_1 .tileTitle{top: 55%}
    /*Making of Landing*/
    .molpTileTitle {top: 70%}
    .molp_2 {margin-bottom: 20px}
    /*Making of*/
    .cheaneyCbottom30 {margin-bottom: 30px}
    .cheaneyM30 {margin: 0px 0px}
    .cheaneyTop30 {margin-top: 0px}
    /*About us*/
    .aboutUsBanner{background-image: url('//media.toa.st/content-images/AW17/1200/TOAST_WEB_AboutUs_3_mobile.jpg');padding-top: 82.55%}
    .aboutUsBanner .tileTitleMid {top: 20%;font-size: 28px}
    .aboutUsBannerText {width: 90%;margin: 0 auto}
    /*Work with us*/
    .workWithUs{padding-top: 35%}
    .jobTile{width: 100%;margin: 10px 0px}
    .jdThreeLine h2{margin-top: 3%}
    .jdTwoLine h2{margin-top: 6%}
    .wwuTitle{font-size: 30px}
    /*About us*/
    .aboutUsLink{margin-bottom: 30px}
    /* New help section */
    .helpSection .parent {background-position:  right 4px}
    .helpSection .navItems {font-size:14px; letter-spacing:1px}
    .helpSection .navItems li {margin: 8px 0; width: 100%; }
    .helpSection .helpContentArea {margin: 50px 10px 0 10px}
    /* In the detail */
    .productSnippetPushCustom{margin-top: 50px}
    .productSnippetPushed{margin-top: 50px}
    .productSnippet, .productPara, .productSnippetRight, .productParaRight{text-align: center}
    .customImgPush{margin-top: 80px}
    .customImgPushInline{margin-top: 80px}
    .customProductHolder{margin-top: 0;margin-bottom: 80px}
    .inDesignShopLink{margin-top: 0}
    .productSnippetHead{text-align: center}
    /*Store Page*/
    #map_canvas {height: 350px; width: 100%}
    #map_canvas_shop  {height: 400px; width: 100%;margin-top:20px}
    .helpSection .helpContentArea .storePage{padding:0px}
    .shopSection .shopStoreNav{font-family: 'freight-text-pro', serif}
    img[src="//maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"]{display: block}
    .address{margin-bottom: 30px}
    .storeSub{margin-top: 30px}
    .swl_2 .tileTitle h2{font-size: 28px}
    /*NEW FOOTER STYLES*/
    .footerCol{width:100%;text-align:center;margin-bottom:20px}
    /*Christmas/Gift landing */
    .christmasGiftsHolder .christmastGiftPadderRight {padding-right:0px}
	.christmasGiftsHolder .christmastGiftPadderLeft {padding-left:0px}
	.christmasGiftsHolder {margin:0;}
	.christmasGiftsHolder p {font-size: 14px}
}
@media only screen and (max-width: 767px) 
{
	.hhlTile1 .tileTitle .mainTitle {font-size: 28px;margin-bottom: 0px}
	.category-product-items .product, .category-product-items .rangeproduct  {height: 530px; margin-bottom: 0}
    /* New help section */
    .helpSection .helpContentArea {min-height: 600px; margin: 50px 5px 0 5px}
    .helpSection .sizeInches {width: 60%; font-size: 11px}
    .helpSection .sizeCM {width: 40%; font-size: 11px}    
    .helpSection .shopSection .helpContentArea{margin-top: 0px}
    .helpSection li.parent.delivery {background-position: right 4px; float:left}
  	.helpSection .navItems li, .helpContentArea {float:left}
    /* In the detail */
    .customProductHolder.cphClear{clear:both}
    .productCustomMargin{margin-top:20px}
    .itdPane1Img{margin-bottom: 50px}
    /*Lookbook*/
    .lookbookDivider{margin-top:50px}
     /* Sale landing pages */
    .shhl_1 .tileTitle .mainTitle{font-size: 28px; margin-bottom: 15px}
    .shhl_1 .shopTxt{font-size: 16px}
    .swl_2 .tileTitle{top: 36%}
    .bannerTile{background-image: url("http://media.toa.st/content-images/aw17/701/TOAST_Sale70pc_2.jpg");padding-top: 109.5%}
	.saleLandingPage {padding-top: 128.29787%;background-image: url('//media.toa.st/content-images/ss17/1600/TOAST_Offer_Landing.jpg'); margin-bottom: 20px; background-size: 100% 100%; }
	.saleLandingPage .tileTitleMid {font-size: 22px}
	.saleLandingPageSub a {text-transform: uppercase; font-size: 14px; text-decoration: underline; color: white}
    .shopBP{margin-top: 30px}
    .makingOfLowerText{margin-top: 20px}
    .size-fit-container .cross-size-guide .sizes .size-row span:nth-child(even){background-color: transparent};
    .size-fit-container .cross-size-guide .sizes .size-row span:nth-child(odd){background-color: #e9e9e9};
    /*Store Page*/
    .shopSection .navItems .shopMenuOpener{display:block;font-weight: 500}
    .shopSection .subnav{display:none}
    .shopSection .navItems li li {font-weight:100}
    .shopSection .navItems li ul{margin: 10px}
    #map_canvas{height:500px}
    .mapHolder{margin-bottom: 20px}
    .storeAbout{clear:both}
    .helpSection .shopSection .helpContentArea .shopEventsSect h2{border-bottom: 0}
    .helpSection .shopSection .navItems li.delivery{margin-bottom: 30px}
    /*Misc*/
    .lwsStile1.saleTileMain .tileTitleMid{top: 15%}
    .lwsStile1.bannerTile .tileTitleMid {top: 23%}
    /*Lookbook*/
    .relcol{padding-top: 0;left: 0}
    .customImgPlc{position: relative;bottom: auto}
    .socialCol ul li a img {padding:0 5px}
     /*Christmas/Gift landing */
    .christmasGiftsHolder .twentyPercentCol {width: 50%; height: 260px}
	.christmasGiftsHolder .fullWidthCol {width: 100%; float: left; height: 500px}
	.christmasGiftsHolder .christmastGiftPadderBottom {padding-bottom: 40px}
	.christmasGiftsHolder .christmastGiftSplitter {width: 50%; }
}
@media only screen and (max-width: 700px) 
{
	.category-product-items .product, .category-product-items .rangeproduct {height: 490px; margin-bottom: 0}
	/*Homepage*/
    .hlTopTile .tileTitle {top: 15%}
    /*House and Home*/
    .hhlTile1 .tileTitle {top: 57%}
    /*Misc*/
    .tileTitle .mainTitle {font-size: 22px}
    .tileTitle .subTitle {font-size: 14px;padding-top: 6px}
    .delivery_disclaimer{margin-bottom:20px}
    /*Making Of*/
    .molp_1 .mainTitle,.molp_2 .mainTitle,.molp_3 .mainTitle,.molp_4 .mainTitle,.molp_5 .mainTitle,.molp_6 .mainTitle{font-size: 24px}
	/*No JS*/
    .jsError {width: 80%;text-align: center;margin-left: 10%}
    .shhl_2 .tileTitle .mainTitle{font-size: 28px}
}
@media only screen and (max-width: 530px) 
{
	.category-product-items .product, .category-product-items .rangeproduct {height: 410px; margin-bottom: 0} 
    /*homepage */
    .hlTopTile .tileTitle .hlOasTxt {margin-bottom: 15px;font-size: 28px}
    .hlTopTile .tileTitle {top: 10%}
    /*Making of */
    .aboutUsBanner .tileTitleMid {font-size: 24px}
    /*Email pop-up*/
    .elb_emailWhiteBox {height: 345px}
    /*Sale landing*/
	.saleLandingPage .tileTitleMid {font-size: 15px}
	.saleLandingPageSub a {text-transform: uppercase; font-size: 13px; text-decoration: underline; color: white }
    .saleHoldingBanner .tileTitle{top: 25%}
    .saleHoldingBanner span{margin-top: 25px}
    .bannerTile a{margin: 0px 10px 10px 10px;font-size: 16px;display:block;border-bottom: none}
    .bannerTile h1{margin-bottom: 34px}
    .bannerTile span{border-bottom: 1px solid #d14d18}
    .bannerTile p{font-size: 18px}

  

}
@media only screen and (max-width: 430px) 
{ 

	.wl_1{background-image: url('//media.toa.st/content-images/aw17/1500/TOAST_DeepWinter_Homepage_1.jpg');padding-top: 74.951%}
	.wl_1 .tileTitleHigher {top:52%;}
	.wl_1 .twoLineTitle  {font-size: 28px; margin-bottom: 7px}
	.wl_1 .saleLink  {font-size: 16px}

	.freeDelStrip {font-size: 12px}
	.category-product-items .product, .category-product-items .rangeproduct {height: 370px; margin-bottom:0}
    /*homepage */
    .hlTopTile .tileTitle {top: 5%}
    .hlTile1 .tileTitleMid .mainTitle{line-height: 0px}


    .hlTile1 .tileTitleMid {top:60%;}
    .hlTile1 .tileTitleMid h1 {margin-bottom: 10px}

    .hlTile1 p{margin: 9px 0;font-size: 24px}
    .hlTile1 a{line-height: 40px}
    .hlTile1 .shopTxt{margin: 0}
    .midAutSaleLink {margin: 75px auto 0 auto}
    /*House and Home*/
    /*Making of*/
    .wnlShopBTN{font-size: 18px}
    .hhsLandingS .tileTitleMid{top: 25%}
    /* New help section */
    .helpSection .helpContentArea td {height: 30px;  font-size: 12px; text-align: center}
  	.helpSection .navItems {font-size:16px}
  	.helpSection .navItems li {margin: 8px 0; width: 92%; }
  	.helpSection .helpContentArea p {font-size: 18px; margin: 20px 0 0 0}
    .helpSection .shopSection .helpContentArea p{margin: 0}
    .openingHours{margin-bottom: 20px}
    .shopFtextmob{padding:0px}
    .helpSection .storePageContent .readMore{line-height: 60px}
    .storePageContent .openingHours p{margin-top: 0px}
    .storePageContent .storeAbout h3{margin-top: 10px}
    .storePageContent .storeAbout h2{margin-bottom: 20px}
    .storePageContent .storeAbout p{margin: 0 0 18px 0}
    #map_canvas {height: 300px}
    .storeMapBtnHolder{margin-top: 20px; margin-bottom: 20px}
    /* Sale landing pages */
    .shhl_1{top: 45%}
    .bannerTile .tileTitleMid{top: 22%}
    .bannerTile h1{margin-bottom: 5px;font-size: 30px}
    .bannerTile a{font-size: 16px}

    /*Misc*/
    .lwsStile1.saleTileMain .tileTitleMid{top: 25%}

    /*Christmas/Gift landing */
    .christmasGiftsHolder .twentyPercentCol {width: 50%; height: 290px}
	.christmasGiftsHolder .fullWidthCol {width: 100%; float: left; height: 530px}
}
@media only screen and (max-width: 395px)
{
	.signup-tile .centerTileTitle {top:0}
	.category-product-items .product, .category-product-items .rangeproduct {height: 390px; margin-bottom: 0}
	.rangeproduct p { margin-top: 25px; }
    .longDescTop {top: 36%}
    .hhsLandingS .tileTitleMid{top: 25%}
    /*Christmas/Gift landing */

}
@media only screen and (max-width: 360px){
 
}
@media only screen and (max-width: 320px) 
{
    .productSwatch {margin: 0px}
	.category-product-items .product, .category-product-items .rangeproduct {height: 350px; margin-bottom: 0}
    .longDescTop {top: 36%}
    .hhsLandingS .tileTitleMid{top: 25%}
    #map_canvas{height: 360px}
}
.disabled {background-color:#dedede !important}
