/* Preference center */
.preferenceContent p {font-size: 14px}
.preferenceContent a {text-decoration: underline}
.preferenceContent h1 {font-size: 26px; font-family: "freight-text-pro", serif; font-weight: 600; margin:20px 0; letter-spacing: 2px}
.preferenceContent h2 {font-size: 16px; margin: 60px 0 0 0 ; letter-spacing: 1px}
.preferenceContent h3 {font-size: 15px; margin: 60px 0 20px 0; letter-spacing: 1px}
.preferenceContent {text-align: center;}
.preferenceContent .preferenceThreeCol {font-size: 13px; width: 33%; float: left; text-align: left}
.preferenceContent .nearestStoreCol .preferenceThreeCol {font-size: 14px; width: 100%; float: left; text-align: left}
.preferenceContent .preferenceTwoCol {font-size: 14px; width: 50%; float: left; text-align: left}
.preferenceContent label {margin:0 0 0 4px;position: relative;top: 3px}
.perferenceIntro p {font-size: 16px; font-family: "freight-text-pro", serif; font-weight: 400;}
.preferenceTerms label {font-size: 14px}
.preferenceContent input[type='checkbox'], .preferenceContent input[type='radio'] {top:5px; position: relative; width:16px; height:16px; min-width:20px}
.preferenceTerms {margin: 60px 0}
.preferenceContent input[type="submit"] {width:auto;background-color: #000000 ; color: #ffffff ; padding: 20px 20px 35px 20px; margin-bottom: 20px; text-transform: uppercase;}

.error-tandc-not-checked, .user-not-found {font-size: 14px;position: relative;top: 20px;color:#db2424}
.prefsUpdated {font-size: 14px;position: relative;top: 20px;color:#3c8d0f}

#userNotFound {height: 60px;}

.fieldItem {margin:6px 0; text-align: left; font-size: 14px; float: left; width: 100%; letter-spacing: 1px}
.fieldItem label {width: 35%; float: left; margin:0; padding:0; position: relative; top:8px; text-transform: uppercase; height:36px; font-size: 13px}
.fieldItem input {width: 65%; float: left; margin:0; padding:5px; position: relative;  border: none; background-color: #f5f5f5; height:36px; min-width:30px}
.fieldItem select {width: 65%; top:8px; position: relative;  height: 36px; overflow: hidden;}
.fieldSet {margin-top:30px;margin-bottom:30px; float:left}

.passwordFieldSet {margin-top:30px}
.passwordFieldItem  label {width: 40%; float: left; margin:0; padding:0; position: relative; top:15px; text-transform: uppercase; height:36px; text-align: left}
.passwordFieldItem  input[type='text'], .resetPasswordContent input[type="submit"] {width: 60%; float: left; margin:2px 0 0 0; padding:5px; position: relative;  border: none; background-color: #f5f5f5; height:36px; min-width:30px}
.passwordFieldItem  select {width: 65%; top:8px; position: relative;  height: 36px; overflow: hidden;}
.passwordSubmit {margin-top: 50px}
.nearestStoreCol {width: 33%; float: left}

.die-table-die {display: none}


label[for=ctl00_globalMainContent_chkReceiveEmails]{width:90%; margin-left:2px; position: relative; top:4px; font-size: 12px}

/* Reset password */
.resetPasswordResetHolder {width: 100%; margin-top: 6px; float: left}
.resetPasswordLabel {width: 40%; float: left; margin-bottom: 10px; text-transform: uppercase; padding-top: 8px }
.resetPasswordField {width: 60%; float: left; margin-bottom: 10px}
.resetPasswordField input {width: 100%; background-color: #f5f5f5; border: none;}
.resetPasswordSubmit {margin-left: 40%; float: left; margin-top: 25px}
.resetPasswordFields {width: 80%; margin-left: 10%}

@media only screen and (max-width: 767px){
	.preferenceContent .preferenceThreeCol {width: 80%; margin-left: 20%}
 	.preferenceContent input[type='checkbox'] {width:20px; height:20px;}
 	.nearestStoreCol {width: 100%; float: left}
 }
 
@media only screen and (max-width: 450px){

	/* Preference center */
	.preferenceContent .preferenceThreeCol, .preferenceContent .preferenceTwoCol  {width: 80%; margin-left: 20%}
	.passwordFieldItem  label {width: 40%; float: left; margin:0; padding:0; position: relative; top:5px; text-transform: uppercase; height:36px; text-align: left;}

	/* Reset password */
	.resetPasswordLabel {width: 100% }
	.resetPasswordField {width: 100% }
	.resetPasswordSubmit {margin-left: 0%;}
	.resetPasswordFields {width: 90%; margin: 5%}

 }